<div class="mt-5">
    <form method="get">
        <label for="search-input">Nhập từ khóa:</label>
        <input class="form-control mt-3" id="search-input" name="q" type="text" placeholder="....">
    </form>
    <button class="btn btn-outline-success mt-3" type="submit">Search</button>
</div>